/*
!/src/*.py
/src/debug_main.py
!/src/cluster_utils
!/src/collect_data_from_other_source
!/src/collect_results
!/src/data_utils
!/src/eldarica_utils
!/src/shell_utils
!/LICENSE.md
!/README.md
!/requirements.txt
!/setup.py
!/container/*.def
!/benchmarks/one-example-demo-unsatcore-CDHG