**/__pycache__/
/.idea
/tutorial
/cluster-results
/hyper-parameters
/eldarica-graph-generation*
/data
/venv
/benchmarks/*
!/benchmarks/one-example-demo-unsatcore-CDHG/
/src/*
!/src/*.py
/src/debug_main.py
!/src/cluster_utils
!/src/collect_data_from_other_source
!/src/collect_results
!/src/data_utils
!/src/eldarica_utils
/src/eldarica_utils/local_*
!/src/shell_utils
!/LICENSE.md
!/README.md
!/requirements.txt
!/setup.py
/container/*
!/container/*.def

